<!DOCTYPE html>
<html>

<script>

var pageNumber = 0;

function query(page) {
    pageNumber = page;
    var queryString = document.getElementById("queryString").value;
    
    fetch("/query", {
    	method: 'POST',
        headers: {
      		'Content-Type': 'application/json'
    	},
        body: JSON.stringify({
        	queryString: queryString,
            pageNumber: pageNumber
        })
    })
    .then(response => response.json())
    .then(function(json){document.getElementById("searchResult").innerText = json});
    
}


</script>

<body>
<div>
CS 510 Search Engine Pre-Project A
</div>
<div>
<input type="text" id="queryString">
<input type="submit" onclick="query(0)">
</div>

<div id="searchResult">
Search Result: 0
</div>

<div>
<a href="#" onclick="query(pageNumber-1)">Previous Page</a>
<a href="#" onclick="query(pageNumber+1)">Next Page</a>
</div>

</body>

</html>
